.genres {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.genreList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
}

.genreItem {
    padding: 8px 16px;
    border-radius: 999px;
    background-color: var(--color-gray-200);
    font-size: var(--font-size-s);
    cursor: pointer;
}

.genreItem:hover {
    background: var(--color-gray-100);
}