* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 0.5s, color 0.5s;
    background-color: rgba(249, 250, 255, 0.48);
    color: black;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto 0;
}

.dark {
    background-color: #2b2b2b;
    color: white;
}
