.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 30px auto;
}

.pageButton {
    padding: 4px 10px;
    background: var(--color-control-background);
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-main-text);
}

.pageButtonActive {
    cursor: default;
    background: var(--color-gray-600);
    color: var(--color-page-background)
}

.ellipsis {
    padding: 4px 10px;
    color: var(--color-main-text);
    user-select: none;
}

