.checkbox{
    height: 34px;
    width: 70px;
    background: linear-gradient(to right, var(--color-gray-200), var(--color-gray-350));
    appearance: none;
    border-radius: 34px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.checkbox::before{
    height: 34px;
    width: 34px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to left,var(--color-gray-500),var(--color-gray-700));
    border-radius: 34px;
    transform: scale(0.9);
    transition: 0.5s;
}

.checkbox:checked{
    background: var(--color-control-border);
    box-shadow: inset 0 2px 30px var(--color-gray-600);
}

.checkbox:checked::before{
    left: 34px;
    background: linear-gradient(to right,var(--tmdb-sky),var(--tmdb-green));
}
