.checkbox{
    height: 34px;
    width: 70px;
    background: var(--color-gray-450);
    appearance: none;
    border-radius: 34px;
    box-shadow: inset 0 8px 30px var(--color-gray-900);
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.checkbox::before{
    height: 34px;
    width: 34px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom,var(--color-gray-450),var(--color-gray-900));
    border-radius: 34px;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 8px 60px var(--color-gray-900),
    inset 4px 4px var(--color-gray-450),
    inset -4px 4px var(--color-gray-450);
}

.checkbox:checked{
    background: var(--color-gray-700);
    box-shadow: inset 0 2px 30px var(--color-gray-600);
}

.checkbox:checked::before{
    left: 34px;
    box-shadow: 0 8px 60px #01b4e4,
    inset 4px 4px #01b4e4,
    inset -4px 4px #01b4e4;
    background: linear-gradient(to right,#01b4e4,#90cea1);
}
