.checkbox{
    height: 40px;
    width: 80px;
    background: #0d253f;
    appearance: none;
    border-radius: 40px;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
    inset 0 8px 8px rgba(0,0,0,0.1),
    inset 0 -4px 4px rgba(0,0,0,0.1);
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.checkbox::before{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom,#444,#0d253f);
    border-radius: 40px;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 8px 60px rgba(0,0,0,0.5),
    inset 4px 4px rgba(255,255,255,0.2),
    inset -4px 4px rgba(255,255,255,0.2);
}

.checkbox:checked{
    background:  #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
    inset 0 2px 8px rgba(0,0,0,0.1),
    inset 0 -4px 4px rgba(0,0,0,0.05);
}

.checkbox:checked::before{
    left: 40px;
    box-shadow: 0 8px 60px rgb(1, 180, 228),
    inset 4px 4px rgb(1, 180, 228),
    inset -4px 4px rgb(1, 180, 228);
    background: linear-gradient(to right,#01b4e4,#90cea1);
}
