.filter {
    grid-column: 1;
    background-color: var(--color-gray-100);
    border-radius: 16px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 36px;
    font-weight: 500;
    font-size: var(--font-size-m);
}

.reset {
    align-self: center;
    padding: 8px 12px;
    background-color: var(--color-gray-500);
    border-color: transparent;
    color: var(--color-white);
    border-radius: 999px;
    cursor: pointer;
}