#range-slider .range-slider__range {
  background: var(--color-indigo-500);
  transition: height 0.3s;
}

#range-slider .range-slider__thumb {
  background: var(--color-indigo-500);
  transition: transform 0.3s;
}

#range-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider .range-slider__range[data-active] {
  height: 16px;
}
