.ratingWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ratingInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}


/*.ratingWrapper .range-slider__thumb,*/
/*.ratingWrapper .range-slider__range[data-active],*/
/*.ratingWrapper .range-slider__range {*/
/*    background: var(--color-indigo-500);*/
/*}*/

