.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.reset {
    align-self: center;
    margin-top: 12px;
    padding: 8px 12px;
    background-color: var(--color-gray-400);
    color: var(--color-white);
    border-radius: 99px;
    cursor: pointer;
    font-size: var(--font-size-s);
    border-color: transparent;
    transition: background-color 0.2s;
}

.reset:hover {
    background-color: var(--color-indigo-500);
}


