.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.select {
  flex: 1;
  min-width: 200px;
  padding: 10px 0;
  border-radius: 8px;
  border: 1px solid var(--color-control-border);
  font-size: var(--font-size-s);
  background-color: var(--color-control-background);
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}
